@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

.header ul{
  display: flex;
  gap: 20px;
}

li{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}

.content{
  margin: auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}



img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer{
  margin: 0px;
  background-color: #eee;
}