*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  margin: 4px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-links{
  margin-left: 20px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin:10px;
}

.right-links{
  margin-right: 20px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}