*{
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin-top: 10px;
  padding: 8px;
}

.content,.button-container{
  margin-top: 8px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e3f4ff;
  padding:15px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 10px;
}